<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

    <!-- Servlet para mostrar UN solo producto por su ID -->
    <servlet>
    <servlet-name>MostrarProductos</servlet-name>
    <servlet-class>servlets.MostrarProductos</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>MostrarProductos</servlet-name>
    <url-pattern>/producto</url-pattern> <!-- ESTE debe coincidir con la URL -->
</servlet-mapping>

    <!-- Configuración de sesión -->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <!-- Página de inicio por defecto -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>
